<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiciosWebSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiciosWebSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44379/ServiciosWeb.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiciosWebSoap"
                contract="ServiceReference1.ServiciosWebSoap" name="ServiciosWebSoap" />
        </client>
    </system.serviceModel>
</configuration>